.feature {
  color: $primary;
  margin-bottom: 50px;
  h3 {
    font-size: $fz-m;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 24%;
      width: 110px;
      height: 1px;
      background: #979797;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 24%;
      width: 110px;
      height: 1px;
      background: #979797;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    li {
      width: 26%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img {
      border-radius: 50%;
      margin-bottom: 20px;
    }
    h4 {
      font-size: $fz-l;
      margin-bottom: 10px;
    }
  }
  @include w-md {
    h3::before {
      left: 12%;
    }
    h3::after {
      right: 12%;
    }
  }
  @include w-sm {
    h3::before,
    h3::after {
      display: none;
    }
    ul {
      display: block;
      li {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
.chef {
  background: $primary;
  color: $secondary;
  margin-bottom: 50px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
  }
  &-info {
    width: 410px;
    padding-left: 24px;
  }
  h3 {
    font-size: $fz-l;
    line-height: 1;
    margin-bottom: 16px;
    span {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
  @include w-md {
    .container {
      align-items: stretch;
    }
    img {
      width: 50%;
      object-fit: cover;
    }
    &-info {
      padding: 24px;
    }
  }
  @include w-sm {
    .container {
      display: block;
    }
    img {
      width: 100%;
    }
    &-info {
      width: 100%;
      padding: 24px 0;
    }
  }
}
.feedback {
  color: $primary;
  margin-bottom: 50px;
  h3 {
    font-size: $fz-l;
    margin-bottom: 32px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      width: 30%;
      display: flex;
      align-items: flex-start;
    }
    img {
      border-radius: 50%;
    }
  }
  &-content {
    margin-left: 12px;
    h4 {
      font-size: $fz-s;
      padding: 22px 0;
    }
    span {
      display: block;
      text-align: right;
      color: rgba(61, 17, 0, 0.75);
    }
  }
  @include w-sm {
    ul {
      display: block;
      li {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}
.reserve {
  color: $primary;
  background: rgba(250, 250, 250, 0.7);
  padding: 50px 0;
  h3 {
    font-size: $fz-l;
    text-align: center;
    margin-bottom: 38px;
  }
  &-content {
    display: flex;
    justify-content: center;
  }
  img {
    width: 44%;
    object-fit: cover;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 44%;
    margin-left: 20px;
  }
  label {
    margin-bottom: 6px;
  }
  input {
    padding: 5px 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
  }
  .radio {
    margin-bottom: 30px;
    input:nth-child(2) {
      margin-right: 36px;
    }
  }
  .button {
    text-align: end;
    button {
      color: #fff;
      padding: 8px 18px;
      border: none;
      border-radius: 4px;
      &:nth-child(1) {
        background: rgba(0, 0, 0, 0.35);
      }
      &:nth-child(2) {
        background: $warning;
      }
    }
  }
  @include w-md {
    img {
      width: 50%;
      object-fit: cover;
    }
  }
  @include w-sm {
    &-content {
      display: block;
    }
    img {
      width: 100%;
    }
    form {
      width: 100%;
      margin: 30px 0 0;
    }
  }
}
