.register-content {
  .input-password {
    margin-bottom: 12px;
  }
  .button a {
    display: block;
    margin-left: auto;
  }
  .form {
    width: 64%;
  }
  .form-content {
    display: flex;
    justify-content: space-around;
  }
  p {
    width: 45%;
    margin-top: 16px;
  }
  form {
    width: 45%;
  }
  @include w-md {
    .form {
      width: 84%;
    }
  }
  @include w-sm {
    .form-content {
      display: block;
    }
    p,
    form {
      width: 100%;
    }
  }
}
